extends layout

block content
  nav(aria-label="breadcrumb")
    ol(class="breadcrumb")
      li(class="breadcrumb-item active", aria-current="page") Home
  h1= title
  p Welcome to #{title}
  a(href="/auth/get_likes") Get Likes
