body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.like {
  text-align: center;
  padding: 2em;
  background-color: green;

}

.media {
  width: 100%;
}
