extends /layout

block content
  h1 Sign In

  form(action="/users/sign_in")
    div(class="form-group")
      label(for="email") Email Address
      input(name="email" class="form-control" id="email" placeholder="Enter Email")
    div(class="form-group")
      label(for="password") Password
      input(name="password" class="form-control" id="password")
    button(type="submit" class="btn btn-primary") Submit
